.notification-button
{
    padding: 10px 20px;
    background-color: cornflowerblue;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    font-size: 20px; 
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    top: 20px;
    left: 20px;
}

.other-notification-button
{
    padding: 20px 40px;
    background-color: blueviolet;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    font-size: 20px; 
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    top: 20px;
    margin-right: 30px;
    right: 20px;
}

.main-notification
{
    border: solid;
    color:blue;
    position: fixed;
    font-size: 20px;
    font-family:'Times New Roman', Times, serif;
}

.user-prompt-notification-button
{
    padding: 20px 40px;
    background-color: blueviolet;
    color: white;
    border: solid;
    border-radius: 5px;
    cursor: pointer;
    position: fixed;
    font-size: 20px; 
    font-style: oblique;
    font-family: 'Courier New', Courier, monospace;
    bottom: 20px;
}

.switch-page
{
    padding: 20px 40px;
    background-color:blue;
    color: white;
    position: fixed;
    font-size: 20px;
    font-style: oblique;
    bottom:10px;
    right:10px;
}

.requestNotificationPermission
{
    color: blue;
}

.notification-container
{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
}

.button
{
    color: sienna;
    font-size: 20px;
    border: solid;
    position: fixed;
}